body {
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

/* =================header section start================ */
.fixedHeader__top{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header{
    padding: 20px;
}

.Hearder__top__icon a i{
    margin-left: 15px;
    color: #000;
    height: 20px;
    width: 20px;
}


.Header__top__searchbar i.fa-solid.fa-align-justify {
    font-size: 20px;
    margin-left: 10px;
    visibility: hidden;
}

.Header__top__searchbar a{
    color: #000;
}

.Header__top__logo a{
    color: #333;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 48px;
}

.Header__top__logo p {
    font-size: 14px;
    margin-right: 30px;
}
/* menu ber here */

.fixedHeader__top{
    margin-bottom: 30px;
}


.Header__top__logo a img {
    height: 90px;
    width: 91px;
    margin-top: 0px;
    margin-bottom: 5px;
}
/* menu ber here */
.fixedHeader__bottom ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.fixedHeader__bottom ul li {
    display: inline-block;
    padding-bottom: 10px;
}

.fixedHeader__bottom ul li::after{
    content: "-";
    left: 10px;
    top: 10px;
    margin: 0 10px;
}

.fixedHeader__bottom ul li:last-child::after{
    content: "";
    left: 0;
    top: 0;
}

.fixedHeader__bottom ul  li  a {
    text-decoration: none;
    color: #000;
    padding-right: 10px;
    font-size: 18px;
    text-transform: capitalize;
}


.fixedHeader__bottom ul li a.active{
    font-weight: bold;
}


.Header__top__icon a:first-child {
    margin-left: 0;
}

.Header__top__icon a i{
    height: 20px;
    width: 20px;
}

.Header__top__logo p {
    font-size: 14px;
}



/*======  Other  ========*/

:root{
    --pPadding:50px 0px;
}

.life__style__category__inner h3 {
    font-size: 28px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 35px 5px rgb(156 156 156 / 10%);
}

.category__grid__img img {
    width: 100%;
}

.category__grid__desc {
    margin-top: 60px;
}

.category__grid__desc .category__info ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category__grid__desc .category__info ul li {
    list-style: none;
}

.category__grid__desc .category__info ul li, .category__info ul li a {
    text-decoration: none;
    color: #999;
    font-size: 11px;
    letter-spacing: 0.2px;
}

.category__details .h4 {
    font-size: 22px;
    color: #000;
    margin: 15px 0;
    display: block;
}

.category__details {
    font-size: 15px;
    line-height: 24px;
    color: #999;
}

.category__details p {
    font-size: 16px;
    line-height: 28px;
}

.category__details a.readmore, .category__details a.h4{
    text-decoration: none;
}

.category__details a.readmore {
    color: #555;
    font-size: 17px;
    font-weight: 500;
}

.category__grid__section__inner {
    padding: 35px;
    margin: 35px 0;
    background-color: #fff;
    box-shadow: 0 0 35px 5px rgb(156 156 156 / 10%);
}


.blog__post__item {
    padding: 22px;
    margin-bottom: 40px;
    box-shadow: 0 0 35px 5px rgb(156 156 156 / 10%);
}
.blog__post__grid {
    margin-top: 45px;
}

.blog__post__item {
    padding: 22px;
    margin-bottom: 40px;
    box-shadow: 0 0 35px 5px rgb(156 156 156 / 10%);
}

.blog__post__item:last-child{
    margin-bottom: 0;
}

.blog-post-image{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.blog-post-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.blog-post-image img:hover{
    -webkit-transform: scale(1.05);
    opacity: 0.8;
}


.blog-inspiration {
    text-align: center;
    margin: 15px 0;
}

.blog-inspiration a {
    text-decoration: none;
    color: grey;
}

.blog-title {
    text-align: center;
}

.blog-title a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.blog-info{
    margin:15px 0px 20px;
}

.blog-info ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.blog-info ul li {
    list-style: none;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.blog-info ul li a {
    color: grey;
}

.blog-paragraph {
    margin: 30px 0px 20px;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: grey;
}
.blog-post-wraper-bottom a, .blog-post-wraper-top a{
    transition: 0.3s;
    text-decoration: none;
} 

.blog-post-wraper-bottom {
    text-align: center;
}

.blog-post-wraper-bottom a {
    color: grey;
    font-size: 18px;
    font-weight: 500;
}


.blog__post__grid a:hover{
    color: #000;
}
.blog__post__item:last-child{
    margin-bottom: 0;
}

.blog-post-image{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.blog-post-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.blog-post-image img:hover{
    -webkit-transform: scale(1.05);
    opacity: 0.8;
}


.blog-inspiration {
    text-align: center;
    margin: 15px 0;
}

.blog-inspiration a {
    text-decoration: none;
    color: grey;
}

.blog-title {
    text-align: center;
}

.blog-title a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.blog-info{
    margin:15px 0px 20px;
}

.blog-info ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.blog-info ul li {
    list-style: none;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.blog-info ul li a {
    color: grey;
}

.blog-paragraph {
    margin: 30px 0px 20px;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: grey;
}
.blog-post-wraper-bottom a, .blog-post-wraper-top a{
    transition: 0.3s;
    text-decoration: none;
} 

.blog-post-wraper-bottom {
    text-align: center;
}

.blog-post-wraper-bottom a {
    color: grey;
    font-size: 18px;
    font-weight: 500;
}


.blog__post__grid a:hover{
    color: #000;
}

.side__search{
    padding-bottom: 10px;
}

.side__search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  

.categorie-title p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 35px;
}

.category-section .category-list ul li a {
    text-decoration: none;
    color: #000;
    padding: 6px 0px 6px 10px;
    background-color: #f4f4f4;
    max-width: 100%;
    font-weight: 500;
    display: block;
}

.category-section .category-list ul li {
    margin-bottom: 10px;
    list-style: circle;
}

.pagination__section__inner ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination__section{
    margin: 70px 0;
}

.pagination__section__inner ul li {
    list-style: none;
    margin-right: 10px;
}

.pagination__section__inner ul li a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(156 156 156 / 10%);
    /* padding: 0px 10px; */
    border-radius: 50%;
    font-size: 20px;
    transition: 0.4s;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.pagination__section__inner ul li:last-child a{
    background-color: transparent;
    box-shadow: none;
}

.pagination__section__inner ul li a:hover{
    background-color: rgb(128, 235, 241);
}

.pagination__section__inner ul li:last-child:hover a{
    background-color: transparent;
}

.single__post__section__inner .img img {
    max-width: 100%;
}

.single__post__section__inner {
    padding: 30px 90px;
}

.single__post__section__inner .para p {
    font-size: 17px;
    line-height: 28px;
    color: #3f3f3f;
    font-weight: 400;
    text-align: justify;
    padding-top: 30px
}


.single__post__section .blog-title a {
    font-size: 30px;
    color: #3f3f3f;
    text-align: justify;
}

.social__sector .tags ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.social__sector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
}

.social__sector .tags ul li {
    list-style: none;
    padding-right: 20px;
}

.social__sector .tags ul li a, .social__sector .tags ul li {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}


img.author__img {
    width: 100%;
}

.author__section {
    padding: var(--pPadding);
    border-bottom: 1px solid #eee;
}

.author__written__content ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.author__written__content ul li {
    list-style: none;
    margin-right: 40px;
}

.author__written__content ul li a {
    font-size: 22px;
    color: #333;
}

.author__written__content h4 {
    font-size: 19px;
    font-weight: 500;
    margin: 0;
}

.author__written__content p {
    margin: 18px 0px;
    line-height: 24px;
    font-size: 16px;
    color: #333;
    text-align: justify;
}

.prev__next__post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--pPadding);
    border-bottom: 1px solid #eee;
}

.prev__post p, .next__post p {
    margin: 17px 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.prev__post h5, .next__post h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.single__post__comment__section{
    padding: var(--pPadding);
}

.blog__three__post {
    border-bottom: 1px solid #eee;
}

.blog__three__post img {
    max-width: 100%;
}

.blog__three__post {
    padding: var(--pPadding);
}

.blog__three__post .title {
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    display: block;
}
.blog__three__post .title p{
    margin: 0;
    font-weight: 500;
}

.blog__three__post .dates {
    font-size: 12px;
    letter-spacing: 0.2px;
}

.blog__three__post .title, .blog__three__post .dates {
    text-align: center;
    margin: 0;
}

.single__post__comment__section__comments {
    padding: var(--pPadding);
    border-bottom: 1px solid #eee;
}


.comment__owner__profile img {
    max-width: 100%;
    border-radius: 50%;
}

.comment__owner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.comment__owner__detail a, .comment__owner__reply a {
    text-decoration: none;
    color: #222;
    letter-spacing: 0.2px;
    font-size: 17px;
    font-weight: bold;
}

.comment__owner__detail p {
    font-size: 13px;
    margin: 0;
}

.comment__content p {
    font-size: 15px;
    line-height: 24px;
    padding: 20px 0;
    margin: 0;
    text-align: justify;
}

.single__post__comment__section{
    padding: var(--pPadding);
}

.single__post__comment__section>p {
    font-size: 18px;
    font-weight: bold;
}

.comments__common {
    margin-bottom: 25px;
}
.comments__common:last-child{
    margin-bottom: 0;
}

.comments__common.take__margin__left {
    margin-left: 100px;
}


textarea#comment__box {
    width: 100%;
    height: 130px;
    border: 1px solid #eee;
    outline: none;
}

.post__title p {
    font-size: 20px;
    font-weight: bold;
}

.contact__space{
    margin-bottom: 60px;
}

.about__image img {
    width: 100%;
}

.about__section__inner {box-shadow: 0 0 35px 5px rgb(156 156 156 / 10%);}

.map__section iframe{
    width:100%; 
    height:650px;
}

.single__post__comment__section__inner {
    padding: 0 100px;
}

.single__post__comment__section form label {
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
}

.single__post__comment__section form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #eee;
    outline: none;
}

.single__post__comment__section form a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    font-weight: 500;
    margin-top: 20px;
    display: block;
    max-width: 180px;
}

.about__share {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}


.about__share .share p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.single__post__comment__section__inner .post__title {
    text-align: justify;
}

.single__post__section .blog-title a {
    font-size: 30px;
    color: #3f3f3f;
    text-align: justify;
}

.social__sector .tags ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.social__sector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
}

.social__sector .tags ul li {
    list-style: none;
    padding-right: 20px;
}

.socials ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.socials ul li {
    list-style: none;
    padding-right: 20px;
}

.socials ul li a, .socials ul li {
    color: #333;
}
/*======  Other  ========*/

/* =======================footer start here ==========================*/   
#footer { 
    background:#000; 
    clear: both;
} 

.foot{
    color: #fff;
}

.footer-title h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0px 30px 0px;
}

.footer-page-content {
      margin: 40px 15px; 
}

.footer-para {
    font-size: 15px;
    font-weight: 500;
}

.footer-phone span {
    margin: 16px 0px;
    display: block;
}

.footer-email p {
    font-size: 16px;
}


.footer-email p a {
    text-decoration: none;
    color: #fff;
}

.footer-list ul {
    padding: 0;
    margin: 0;
}

.footer-list ul li {
    list-style: none;
    padding: 0px 0px 10px 0px;
}

.footer-list ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.sub-footer-list ul {
    padding: 0;
    margin: 0;
}

.sub-footer-list ul .sps {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sub-footer-list ul li {
    list-style: none;
}

.sub-footer-list ul li a {
    text-decoration: none;
    color: #fff;
}


.footer-foot {
    padding: 40px 15px;
    border-top: 1px solid #fff;
}

.column8{
    font-size: 15px;
}

.column4 ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.column4 ul li a{
    color: #fff;
}

.column4 ul li {
    list-style: none;
    padding-right: 18px;
}

.column4 ul li:last-child{
    padding-right: 0;
}